:root {
  --text-color: #757575;
  --text-bold-color: #212121;
  --transparent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-button-hover-color: #188ce8;
  --footer-color: #2f303a;
  --gray-background: #f5f4fa;
  --header-line-color: #ececec;
  --icons-idle-color: #afb1b8;
  --white: #fff;
}

/* defaults */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;

  color: var(--text-color);
  background-color: var(--white);
}

/* Containers */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--header-line-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
}

.logo-header {
  display: flex;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;

  color: #000000;
}

.logo-header-accent {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.header-contacts-link {
  fill: var(--text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.tel-icon {
  height: 17px;
  width: 10px;
  margin-right: 10px;
}
.mail-icon {
  height: 17px;
  width: 16px;
  margin-right: 10px;
}

/* Navigation  */

.site-nav-list {
  display: flex;

  margin-left: 93px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding: 32px 0;

  text-decoration: none;
  color: var(--text-bold-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 94px;
}

.section.gray-background {
  background-color: var(--gray-background);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-bold-color);
}

/* Hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--footer-color);
}

.hero.background {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header/main.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--white);
}

.button {
  background-color: var(--gray-background);

  cursor: pointer;
}

.hero.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  min-width: 200px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white);
}

.hero.button:hover,
.hero.button:focus {
  background-color: var(--hero-button-hover-color);
}

/* Features section*/

.container.features {
  display: flex;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.features-list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .item {
  width: 270px;
}

.features-list .feature {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--text-bold-color);
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
}

.features-list > .item::before {
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  content: '';
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-antenna::before {
  background-image: url('../images/svg/antenna\ 1.svg');
}
.logo-clock::before {
  background-image: url('../images/svg/clock\ 1.svg');
}
.logo-diagram::before {
  background-image: url('../images/svg/diagram\ 1.svg');
}
.logo-astronaut::before {
  background-image: url('../images/svg/astronaut\ 1.svg');
}

/* Doings section */

.doings-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.doings-list .item:not(last-child) {
  margin-right: 30px;
}

.doings-image {
  display: block;
}

/* Our Team section */
.team-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.team-list .item {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:nth-child(4n + 4) {
  margin-right: 0px;
}

.member-image {
  display: block;
}

.member-info {
  padding: 30px 24px;
  background-color: var(--white);
}

.member-info .team-member {
  margin-bottom: 10px;
  margin-top: 0;

  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;

  color: var(--text-bold-color);
}

.member-socials-list {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.member-socials-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.member-socials-item:not(:last-child) {
  margin-right: 10px;
}

.member-socials-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-icon {
  fill: var(--icons-idle-color);
}

.member-socials-item-link:hover,
.member-socials-item-link:focus {
  background-color: var(--accent-color);
}

.member-socials-item-link:hover .social-icon,
.member-socials-item-link:focus .social-icon {
  fill: var(--white);
}

.job-title {
  margin-bottom: 16px;
  padding: 0 24px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
}
.clients-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.clients-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-idle-color);
  fill: var(--icons-idle-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
/* Footer */

.page-footer {
  padding: 60px 0;

  background-color: var(--footer-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--white);
}

.footer-logo-accent {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;

  color: var(--white);
}

.footer-links-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-links-list .list-item {
  margin-top: 9px;
}

.footer-address-link {
  text-decoration: none;

  color: var(--transparent-text-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-socials-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer-socials-list-item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  fill: var(--white);
}

.footer-socials-list-link:hover,
.footer-socials-list-link:focus {
  background-color: var(--accent-color);
  fill: var(--gray-background);
}

.footer-socials-list-item:not(:last-child) {
  margin-right: 10px;
}

/* Portfolio page */

.filter-list {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;

  list-style: none;
}

.filter.button {
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;

  border: none;
  border-radius: 4px;

  color: var(--text-bold-color);
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter.button:hover,
.filter.button:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-block {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-bottom: 0;
  margin-top: 0;

  list-style: none;
}

.portfolio-card {
  /* evenly divide the width by 3 including margins.*/
  width: calc((100% - 2 * 30px) / 3);

  margin-right: 30px;
  border-right: 1px solid var(--header-line-color);
  border-left: 1px solid var(--header-line-color);
  border-bottom: 1px solid var(--header-line-color);
}

.portfolio-card:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
}

.card-description {
  width: 370px;
  padding: 20px 24px;
}

.portfolio-card-link {
  width: 370px;
  text-decoration: none;
  display: block;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0px;
}

/* add margin-botttom up to and inluding sixth element, no margin for further elements */
.portfolio-card:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-img {
  display: block;
}

.card-description {
  padding: 20px 24px;
}

.portfolio-item-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--text-bold-color);
}

.portfolio-item-description {
  margin: 0;
  color: var(--text-color);
  padding: 0;
  font-size: 16px;
  line-height: 1.87;
}
